<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACA2.Properties.Settings.ConnectionString" connectionString="Data Source=MEDAPP2\MEDAPP2;Initial Catalog=ACA2016;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ACA2.Properties.Settings.ConnectionString_test" connectionString="Data Source=.\sqlexpress;Initial Catalog=ACA2016;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="ACA2.Properties.Settings.ConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=ACA2016;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
